
@{
    ViewBag.Title = "Test";
}
@section scripts {
<script src="~/Scripts/Application/Logic.js"></script>

    <script>
        $(function () {
            initHorseAssignment();
        })
    </script>

    }

<h2>Test Json Interface</h2>
<p>
    <input id="HorseCode" type="text" placeholder="horse code"/>
    <input id="StableCode" type="text" placeholder="stable code" />
</p>

<button id="AssingHorseButton"> Lisää hevonen</button>
<!-- <button id="AssingStableButton"> Lisää talli</button>-->